{% extends "layout.html" %} {% block head %}

<title>Sobre - Samuel Baldasso</title>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

{%endblock %} {% block content %}

<div id="wrapper">
  <img src="https://avatars.githubusercontent.com/u/53982121?v=4" alt="" />
  <h1>Samuel Baldasso</h1>
  <h2>Rocketseat</h2>
  <p>
    Estudante da
    <a href="https://www.rocketseat.com.br" target="_blank">Rocketseat</a>,
    apaixonado pelo Ominstack...
  </p>
</div>

<div class="links" id="links-footer">
  <a href="https://github.com/samuelbaldasso" target="_blank">Github</a>
  <a href="https://twitter.com/samuelbaldasso" target="_blank">Twitter</a>
  <a
    href="https://www.linkedin.com/in/samuel-baldasso-91903b141/"
    target="_blank"
    >Linkedin</a
  >
</div>

{% endblock %}
